.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Primary */
.btn-primary {
  background-color: #2196f3;
}

.btn-primary:hover {
  background-color: #1976d2;
}

/* Danger */
.btn-danger {
  background-color: #f44336;
}

.btn-danger:hover {
  background-color: #d32f2f;
}

/* Success */
.btn-success {
  background-color: #4caf50;
}

.btn-success:hover {
  background-color: #388e3c;
}
